<header>
    <nav>
        <a href="/">LibBuk</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/create">Add Authors</a></li>
        </ul>
    </nav>
</header>